@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Jura:wght@300;400;500;600;700&family=Titillium+Web:wght@200;300;400;600;700&display=swap');

:root {
    --primary: #e10600;
    --secondary: #1f1f27;
    --white-color: #fff;
    --black-color: #000;
    --text100: #949498;
    --text200: #15151e;
    --text-table-th: #8080;
    --text-table-td: #4a4a4a;
    --bk-table: #f4f4f4;
    --header-height: 49px;
    --result-title: #171717;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li,
a,
button {
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
}

html,
body {
    font-family: 'Titillium Web', 'Inter', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.6rem;
}

.dark {
    color: #4a4a4a;
}

.bold {
    font-weight: 700;
}

// DefaultLayout

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f4f1;
    padding: 40px;
}

.main {
    max-width: 1440px;
    width: 100%;
    height: auto;
    background-color: var(--white-color);
}

// btn

.btn {
    height: 39px;
    width: 93px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.btn-primary,
.btn-secondary {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--white-color);
}

.btn-primary {
    background-color: var(--primary);
}

.btn-secondary {
    background-color: var(--secondary);
}

.list-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 13px;
}
